/* GENERAL -------------------------------------------------------------------*/
html {
  height: 100%;
}

body {
  font-size: 12px;
  color: black;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

.ui-link {
  color: black !important;
}

.js-widget-container {
  margin: 0 auto;
  float: none;
}

.main-area-panel-container,
.l-widget-container > * {
  margin: 0;
  padding: 0;
}

.dashboard-content-wrapper {
	margin-top: 2px;
}

.dashboard-content-wrapper:before {
	content: "";
	height: 60px;
	background-color: #fafafa;
	width: 100%;
	position: absolute;
}

.main-area-panel-container .js-widget-container {
	max-width: 1366px;
	height: 100%;
}

.header-panel .ui-layout-unit-content {
	height: 126px;
}
/* END - GENERAL -------------------------------------------------------------*/
/* LOGIN FORM ----------------------------------------------------------------*/
#login-form {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
#login-form form {
  position: relative;
}
#login-form form > div:nth-child(5),
#login-form form > div:nth-child(7) {
  height: 32px;
}
#login-form form > div:nth-child(3) {
  position: absolute;
  bottom: 53px;
}
#login-form form > div:nth-child(3) .ui-messages .ui-messages-error-icon,
#login-form form > div:nth-child(3) .ui-messages .ui-messages-error-detail {
  display: none;
}
#login-form form > div:nth-child(3) .ui-messages ul {
  margin: 0 !important;
  padding: 0 !important;
}
#login-form form > div:nth-child(3) .ui-messages .ui-messages-error {
  border: medium none;
  padding: 0px !important;
  margin: 0px;
  font-size: 1em;
  color: #ff4639;
}
#login-form form > div:nth-child(3) .ui-messages .ui-messages-error-summary {
  margin-left: 0px;
  font-weight: normal;
  font-size: 1em;
}
#login-form form > div:nth-child(6) {
  height: 5px;
}
#login-form .Card {
  border-radius: 20px;
  padding: 24px;
  box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.5);
}
#login-form .BigTopic {
  color: black;
  font-size: 2em !important;
  padding: 0;
  margin-bottom: 8px;
}
#login-form .BigTopic img {
  max-height: 50px;
  margin-bottom: 9px;
}
#login-form > .MarTopPerc5 {
  margin-top: 0px;
}
#login-form > .MarTopPerc5 > .Wid33 {
  margin-top: -5%;
  width: 430px;
}
#login-form > .MarTopPerc5 > .Wid33.WidAutoOnMobile {
  width: 430px !important;
}

#login-form > .MarTopPerc5 > .Wid33 .EmptyBox20 {
  height: 0;
}
#login-form > .MarTopPerc5 > .Wid33 .EmptyBox30 {
  height: 0;
}
#login-form > .MarTopPerc5 > .Wid33 .EmptyBox30:nth-child(8) {
  height: 46px;
}
#login-form .ui-inputfield {
  color: black;
  font-size: 1.3em !important;
  background-color: transparent;
  border-bottom: 1px solid black;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  padding: 3px !important;
  transition: none !important;
}
#login-form .ui-inputfield:focus {
  border-bottom-width: 2px;
  border-bottom-color: rgba(0, 0, 0, 0.2) !important;
}
#login-form .ui-inputfield:hover {
  border-bottom-color: rgba(0, 0, 0, 0.2) !important;
}
#login-form .ui-inputfield:-ms-input-placeholder:hover {
	color: rgba(0, 0, 0, 0.3) !important;
}
#login-form .ui-button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  color: black;
  box-shadow: none !important;
  font-size: 1em !important;
}
#login-form .ui-button-text {
  padding: 0 0 0 28px !important;
  font-size: 1.16666666667em;
  color: rgba(0, 0, 0, 1);
}
#login-form .ui-button-text::before {
  font-family: 'FontAwesome' !important;
  content: "\f090";
  position: absolute;
  left: 0;
  font-size: 1.5em;
  line-height: 1em;
}
#login-form [id$="login-button"] {
  margin-bottom: 5px;
}
#login-form input:-webkit-autofill {
  background-color: transparent !important;
}

/* END - LOGIN FORM ----------------------------------------------------------*/
/* TOPBAR --------------------------------------------------------------------*/
#layout-topbar {
  text-align: center;
  background-color: transparent;
  box-shadow: none;
  width: 100%;
  height: 100%;
  padding: 0;
  position: relative;
}
#layout-topbar .username {
	padding-right: 15px;
}
#layout-topbar .logout {
	display: block;
}
#layout-topbar .flex-box {
	display: flex  !important;
	height: 50px;
	align-items: center;
}
#layout-topbar .right-absolute {
	padding: 0 20px 0 0;
	position: absolute;
	top: 0;
	right: 0;
}
#layout-topbar .left-align {
	padding: 0 0 0 20px;
	top: 0 !important;
	left: 0 !important;
}
#layout-topbar .center-align {
	display: flex;
	align-items: center;	
}
#layout-topbar .right-relative {
	position: relative !important;
	top: 0 !important;
	right: 0 !important;
}
#layout-topbar .fa-sign-out::before {
	padding-right: 5px !important;
}
#layout-topbar .action-wrapper {
  position: absolute;
  display: inline;
  top: 17px;
  font-size: 1em;
}
#layout-topbar .action-wrapper.right-action-wrapper {
  right: 20px;
}
#layout-topbar .action-wrapper.left-action-wrapper {
  left: 20px;
}
#layout-topbar .action-wrapper.left-action-wrapper .fa-angle-left:before {
  top: 2px;
}
#layout-topbar .fa::before {
  font-size: 1.6em;
  padding-right: 10px;
  color: rgba(0, 0, 0, 0.4);
}

.main-logo {
  position: relative;
  top: 50%;
  transform: translate(0, -100%);
}

.main-logo > img {
  height: 60px;
  margin: 0;
}

/* END - TOPBAR --------------------------------------------------------------*/
/* HEADER BACKGROUND */
.js-widget-container .widget-header-main {
  background-image: url("#{resource['resources/images/spacer_shadow_top.png']}");
  background-repeat: no-repeat;
  height: 60px;
  position: relative;
  line-height: 60px;
}
.js-widget-container .js-process-widget .widget-header-main {
  background-position: top left;
  background-size: 300%;
}
.js-widget-container .task-widget .widget-header-main {
  background-position: top right;
  background-size: 150%;
}
.js-widget-container .js-process-widget .widget-header-main-menu {
  display: none;
  left: 0;
  right: 30px;
}
.js-widget-container .switch-mode-command-icon {
  display: none;
}

/* START PROCESS -------------------------------------------------------------*/
.widget-header {
  color: black;
  border-bottom: none;
}

.widget-header-main-title {
  font-size: 1.16666666667em;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
  margin-left: 20px;
  margin-bottom: 0;
}

.widget-header-main-menu li {
  font-size: .9em;
}

.widget-content-scroll-button {
  display: none;
}

.process-start-list-item {
  height: 80px;
  line-height: 80px;
  border: none;
  box-shadow: none;
  background-color: rgba(255, 255, 255, .6);
  color: black;
  margin: 0 0 4px 0;
  padding: 0;
  transition: background 0.3s linear;
  font-size: 1.1666em;
  display: flex;
  overflow: hidden;
}

.process-start-list-item-name {
  flex: 1;
  padding-right: 5px;
}
.process-start-list-item-name-text{
  line-height: 1.5;
  white-space: normal;
  align-items: center;
  display: flex;
  height: 100%;
}

[id$="process-list"] {
  border-top: 2px solid white;
  padding: 10px;
}
[id$="process-list"] a {
  display: block;
}
[id$="process-list"] a:hover {
  border-bottom: none;
}
[id$="process-list"] a:last-child .process-start-list-item {
  margin-bottom: 0;
}

[id$="process-list"] .process-start-list-item-icon {
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  width: 80px;
}

[id$="process-list"] .process-start-list-item-icon .fa {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  line-height: 48px;
  text-align: center;
  color: white;
}

[id$="process-list"] .process-start-list-item-icon .fa:before {
	margin-left: 2px;
}

[id$="process-list"] .process-start-list-item-action {
  display: none;
  float: right;
  width: auto;
  padding: 0 20px;
}

.process-action-button,
form[style].process-action-button {
  display: none !important;
}

/* END - START PROCESS -------------------------------------------------------*/
/* TASK LIST -----------------------------------------------------------------*/
.task-widget-header-container {
  margin: 0;
  padding: 0;
}
.task-widget .ui-datascroller {
  border-radius: initial;
  border: none;
  background-color: transparent;
}
.task-widget .task-view-container {
  min-height: calc(100vh - 162px)
}
.task-widget .ui-datascroller .ui-datascroller-list {
  border-top: 2px solid white;
  padding: 10px 10px 10px 0;
}
.task-widget .switch-mode-command-icon {
  display: none;
}
.task-widget .u-underline-from-center:before {
  background: none;
}

.task-widget [id$="task-sorting-criteria"] {
	display: inline-block;
	margin-left: 20px;
}
.task-widget .js-widget-header-menu,
.task-widget .js-widget-header-menu .u-underline-from-center {
	padding: 0;
}

.task-start-list-item {
  padding: 0;
  margin: 0;
  box-shadow: none;
  font-size: 1em;
}

.task-start-priority {
  width: auto;
  margin: 0;
  padding: 0 43px;
}

.task-start-priority .task-start-priority-icon:before {
  width: 12px;
  height: 53px;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 12px auto;
  content: "";
  background-image: url("#{resource['resources/images/Priority_0.png']}");
}

.task-start-priority .task-priority-low:before {
  background-image: url("#{resource['resources/images/Priority_1.png']}");
}
.task-start-priority .task-priority-normal:before {
  background-image: url("#{resource['resources/images/Priority_2.png']}");
}
.task-start-priority .task-priority-high:before {
  background-image: url("#{resource['resources/images/Priority_3.png']}");
}

.task-start-info {
  flex: 1;
  overflow: hidden;
  width: 0;
}

.task-start-info-content {
  margin-bottom: 4px;
  margin-top: 3px;
  font-size: 1.5em;
  line-height: 1.2;
  height: 21px;
  position: relative;
}

.task-start-info-content .task-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 1.2;
}

.task-start-info-footer {
  font-size: 1em;
  display: block;
}

.task-start-info-header {
  font-size: 1em;
}

.task-start-container {
  height: 69px;
  padding: 0;
  margin: 7px 0;
  transition: background 0.3s linear;
}
.task-view-container .ui-datascroller .ui-datascroller-content,
.case-widget-container .ui-datascroller .ui-datascroller-content {
  overflow: hidden;
  position: relative;
  padding: 0;
  min-height: calc(100vh - 162px);
}
.task-view-container .ui-datascroller-item {
  background-color: white;
}

.task-widget-filter {
	display: inline-block;
	float: right;
	margin-right: 20px;
}

.task-widget-filter .ui-selectonemenu {
	display: block;
	border-bottom-color: #C6C6C6 !important;
	min-width: 190px;
	padding: 0px 40px 0px 0px !important;
}

.task-widget-filter .ui-selectonemenu.ui-state-focus {
	border-bottom-color: #757575 !important;
}

.task-widget-filter .ui-selectonemenu,
[id*="task-widget"] .ui-selectonemenu-items-wrapper {
	font-size: 1em !important;
}

[id*="task-widget"] .ui-selectonemenu-items-wrapper .ui-selectonemenu-list-item {
	font-size: .9em !important;
}

.task-widget-filter .ui-inputfield {
	font-size: .9em;
	padding: 7px 24px 5px 10px !important;
	background: transparent !important;
	color: #757575;
}

.task-widget-filter .ui-inputfield.ui-state-focus {
	border-bottom-width: 1px !important;
}

.task-widget-filter .ui-selectonemenu-trigger {
	background: transparent;
}

.task-widget-filter .ui-selectonemenu-trigger .ui-icon {
	margin-top: 7px !important;
	background-size: 100%;
}

.task-widget-filter .filter-widget-icon {
	top: 24px;
	color: #757575;
}

/* END - TASK LIST -----------------------------------------------------------*/

/* UI - Dialog ***********************************************************/
.ui-dialog .ui-dialog-titlebar {
    padding: 12px 24px !important;
    position: relative;
}

.ui-dialog .ui-dialog-title, .ui-dialog .ui-dialog-titlebar {
    font-size: 1.1666em;
    color: rgba(0,0,0,1);
}

.ui-dialog .ui-dialog-titlebar::before {
	content: "";
	top: 56px;
	width: calc(100%);
	position: absolute;
	border-bottom: solid 1px rgba(0,0,0,0.3);
	width: calc(100% - 48px);
	left: 24px;
}

.ui-confirm-dialog .ui-dialog-content .ui-confirm-dialog-message {
    color: rgba(0,0,0,1);
    font-size: 1.333em;
}

.ui-icon.ui-icon-alert.ui-confirm-dialog-severity {
	display: none;
}

.ui-dialog .ui-dialog-footer {
    border-top: 0;
    background-color: #FFF;
    padding: 24px !important;
    overflow: hidden;
}

.ui-confirmdialog-yes,
.ui-button-primary {
	background-color: #B4E266 !important;
}

.ui-confirmdialog-no,
.ui-button-slave {
	background-color: #FF8282 !important;
}

.ui-dialog .ui-dialog-footer, .ui-dialog .ui-dialog-titlebar {
	border: 0 !important;
}

.ui-dialog .ui-dialog-content{
	padding: 0px 24px !important;
	margin-top: 24px;
	overflow: hidden;
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon .ui-icon-closethick {
	    background: none;
}

.ui-icon-closethick::before {
    content: "\f00d";
    font-family: "Fontawesome" !important;
    color: inherit;
    font-size: 1.1666em;
}

.ui-icon.ui-icon-closethick {
	color: rgba(0,0,0,0.4);
}

.ui-icon.ui-icon-closethick:hover {
	 color: rgba(0,0,0,1) !important;
}

.ui-dialog {
	box-shadow: 0 0 10px 0px rgba(0,0,0,0.5) !important;
	border-radius: 10px;
}

/* END - UI - Dialog *****************************************************/
/* START - Note***********************************************************/
.note-comment{
	white-space:pre;
}
/* END - Note*************************************************************/

/*START - Autocomplete input*/

input[type="autocomplete"].ui-state-error{
  border-bottom: 1px solid #e10040 !important;
  color: #e10040;
}
/*END - Autocomplete input*/
:-ms-input-placeholder.ui-inputfield{
	color: #cdcdcd;
}

/* START - UI - tootip *****************************************************/
.ui-tooltip.limit-width{
  max-width: 500px;
  line-height: 1.5;
}
/* END - UI - tootip *****************************************************/